/*-----------------------------------------------------------------------------------------------------------*/
/* Poprawa Strony */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------*/
/* Napis */
.tlo {
    display: grid;
    top: 200px;
}

.napis {
    margin: auto;
}

.napis p {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 17px;
    width: 800px;
    font-style: normal;
    text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------*/
/* Nawigacja */
.pulpit {
    position: relative;
    text-align: center;
    padding: 41vh 0;
}

.info {
    margin: auto;
}

.buttoninfo {
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 3.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    background-color: #ffffff;
    transition: background-color 500ms;
    color: #000000;
    border-radius: 10px;
    border: 0px;
}

.buttoninfo:hover {
    transition: background-color 500ms;
    background-color: #1f7452;
}
/*-----------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------*/
/* Nawigacja */
nav a {
    color: #ffffff;
    transition: color 1ms;
    font-size: 30px;
    padding: 0.5rem 0;
    display: inline-block;
    transition: 100ms ease-in 0s;
}

nav a:hover {
    transition: color 1ms;
    color: #1f7452;
}

nav {
    width: 60px;
    height: 100%;
    position: fixed;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #ffffff78;
    box-sizing: border-box;
    z-index: 3;
}
/*-----------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------*/
/* Zmiana kursoru na kliknięcie */
button,
li {
    cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------*/
/* Poprawa rozjerzdzania się tekstu */
h2,
h3,
p,
.naglowek,
main {
    transition: 25ms;
}

main {
    margin-left: 60px;
    position: relative;
}
/*-----------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------*/
/* Logo na stronie */
header {
    width: 30%;
    height: 9vh;
    position: absolute;
    z-index: 100;
    transition: 400ms;
}

header img {
    width: 80px;
    position: relative;
    left: 80px;
    top: 10px;
}
/*-----------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------*/
/* Tło strony */
body {
    background-color: #000000;
}
/*-----------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------*/
/* Blokada pobiereania obrazu */
img {
    pointer-events: none;
    -webkit-touch-callout: none;
}
/*-----------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------*/
/* yłączenie podświetlania linków i podkreślania*/
a { 
    color: inherit;
    text-decoration:none;
}
/*-----------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------*/
/* Pasek Przesuwania */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #40d89b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #40d89b76;
}
/*-----------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------*/
/* Poprawa Jakości telefonu mniejszych ekramów */
@media only screen and (max-width: 904px) {
    .napis p {
        width: 280px;
    }
}
/*-----------------------------------------------------------------------------------------------------------*/